<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE = edge">
    <meta name="viewport" content="width = device-width, initial-scale = 1">

    <!-- Our Styles -->
    <link href="http://fonts.googleapis.com/css?family=Oswald:400,300" rel="stylesheet" />
    <link href="../../Content/css/newStyles.css" rel="stylesheet" />
    <link href="../../Content/css/c3Controls.css" rel="stylesheet" />
    <link href="../../Content/old/css" rel="stylesheet" />
    <link href="../../Content/old/css(1)" rel="stylesheet" />

    <!-- C3 Controls Styles -->
    <link rel="stylesheet" id="woocommerce-multiple-addresses-plugin-styles-css" href="../../Content/old/public.css" type="text/css" media="all">
    <link rel="stylesheet" id="woocommerce-layout-css" href="../../Content/old/woocommerce-layout.css" type="text/css" media="all">
    <link rel="stylesheet" id="woocommerce-smallscreen-css" href="../../Content/old/woocommerce-smallscreen.css" type="text/css" media="only screen and (max-width: 768px)">
    <link rel="stylesheet" id="woocommerce-general-css" href="../../Content/old/woocommerce.css" type="text/css" media="all">
    <link rel="stylesheet" id="screen-css" href="../../Content/old/style.css" type="text/css" media="all">
    
    <link rel="stylesheet" href="../../Content/bootstrap.css" />
    <link rel="stylesheet" href="../../Content/font-awesome.css"  />
    <link rel="stylesheet" href="../../Content/Site.css" />
    @Scripts.Render("~/bundles/modernizr")
    <title>@ViewBag.Title</title>
</head>
<body>
    <!-- class="page page-id-328 page-parent page-child parent-pageid-45 page-template page-template-page-product-category page-template-page-product-category-php group-blog" -->
    <div id="site-wrap">
        <div id="canvas">
            <a class="skip-link screen-reader-text" href="http://www.c3controls.com/products/tower-lights/#content">Skip to content</a>
            <div class="mobile-head">
                <a href="http://www.c3controls.com/products/tower-lights/#" class="icon-menu toggle-nav"><i class="fa fa-bars"></i><span class="screen-reader-text">Menu</span></a>
                <a href="http://www.c3controls.com/products/tower-lights/#" class="icon-location toggle-contact"><i class="fa fa-map-marker"></i><span class="screen-reader-text">Contact/Location</span></a>
            </div>
            <nav id="mobile-nav" class="mobile-nav" role="navigation">
                <ul>
                    <li><a href="http://www.c3controls.com/">Home</a></li>
                    <li id="menu-item-53" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-53"><a href="http://www.c3controls.com/why/">Why</a></li>

                    <li id="menu-item-55" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-55">
                        <a href="#">Products</a>
                        <ul class="sub-menu">
                            <li id="menu-item-57" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-57"><a href="#">Motor Control</a></li>
                            <li id="menu-item-2288" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2288"><a href="#">Disconnect Switches</a></li>
                            <li id="menu-item-2289" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2289"><a href="#">Pilot Devices</a></li>
                            <li id="menu-item-2290" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2290"><a href="#">Tower Lights</a></li>
                            <li id="menu-item-2291" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2291"><a href="#">Cam Switch</a></li>
                            <li id="menu-item-2292" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2292"><a href="#">Encolsed Control & Stations</a></li>
                            <li id="menu-item-2293" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2293"><a href="#">Terminal Blocks</a></li>
                            <li id="menu-item-2295" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2295"><a href="#">Programmable Relays</a></li>
                            <li id="menu-item-57" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-57"><a href="#">Electronic Timing Relays</a></li>
                            <li id="menu-item-2288" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2288"><a href="#">General Purpose Relays</a></li>
                            <li id="menu-item-2289" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2289"><a href="#">Wiring/Cable Duct</a></li>
                        </ul>
                    </li>

                    <li id="menu-item-55" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-55">
                        <a href="http://www.c3controls.com/c3/">c3</a>
                        <ul class="sub-menu">
                            <li id="menu-item-2283" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2283"><a href="http://www.c3controls.com/c3/overview/">Our Company</a></li>
                            <li id="menu-item-2280" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2280"><a href="http://www.c3controls.com/c3/our-culture/">Our Culture</a></li>
                            <li id="menu-item-2284" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2284"><a href="http://www.c3controls.com/c3/management-team/">Management Team</a></li>
                            <li id="menu-item-10710" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10710"><a href="http://www.c3controls.com/conflict-minerals-policy/">Conflict Minerals Policy</a></li>
                        </ul>
                    </li>

                    <li id="menu-item-2475" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2475">
                        <a href="http://www.c3controls.com/testimonials/">Testimonials</a>
                        <ul class="sub-menu">
                            <li id="menu-item-57" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-57"><a href="http://www.c3controls.com/testimonials/overview/">Our Customers</a></li>
                            <li id="menu-item-2288" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2288"><a href="http://www.c3controls.com/testimonials/eriez/">Eriez</a></li>
                            <li id="menu-item-2289" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2289"><a href="http://www.c3controls.com/testimonials/aqueous/">Aqueous</a></li>
                            <li id="menu-item-2290" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2290"><a href="http://www.c3controls.com/testimonials/esd/">ESD</a></li>
                            <li id="menu-item-2291" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2291"><a href="http://www.c3controls.com/testimonials/emc/">EMC</a></li>
                            <li id="menu-item-2292" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2292"><a href="http://www.c3controls.com/testimonials/tcsi/">TCSI</a></li>
                            <li id="menu-item-2293" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2293"><a href="http://www.c3controls.com/testimonials/teemark/">TeeMark</a></li>
                            <li id="menu-item-2295" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2295"><a href="http://www.c3controls.com/testimonials/pacific-kiln/">Pacific Kiln</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-56" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-56">
                        <a href="http://www.c3controls.com/careers/">Careers</a>
                        <ul class="sub-menu">
                            <li id="menu-item-2282" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2282"><a href="http://www.c3controls.com/careers/overview/">Join Our Team</a></li>
                            <li id="menu-item-2286" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2286"><a href="http://www.c3controls.com/careers/job-postings/">Job Postings</a></li>
                            <li id="menu-item-2287" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2287"><a href="http://www.c3controls.com/careers/co-opinternships/">Co-op/Internships</a></li>
                            <li id="menu-item-2436" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2436"><a href="http://www.c3controls.com/careers/community/">Community</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-59" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-59">
                        <a href="http://www.c3controls.com/contact/">Customer First</a>
                        <ul class="sub-menu">
                            <li id="menu-item-2461" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2461"><a href="http://www.c3controls.com/contact/overview/">Our Promise</a></li>
                            <li id="menu-item-2460" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2460"><a href="http://www.c3controls.com/contact/connect-with-us/">Connect With Us</a></li>
                            <li id="menu-item-3292" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3292"><a href="http://www.c3controls.com/contact/shipping/">Shipping</a></li>
                            <li id="menu-item-2299" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2299"><a href="http://www.c3controls.com/contact/lifetime-warrantyguarantee/">Lifetime Warranty/Guarantee</a></li>
                            <li id="menu-item-2300" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2300"><a href="http://www.c3controls.com/contact/terms-conditions/">Terms &amp; Conditions</a></li>
                            <li id="menu-item-3589" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3589"><a href="http://www.c3controls.com/contact/privacy-policy/">Privacy Policy</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-10317" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-10317"><a href="http://info.c3controls.com/blog/">Blog</a></li>
                    <li><a href="http://info.c3controls.com/request-electrical-controls-catalog">Request a Catalog</a></li>
                </ul>
            </nav>
            <div id="mobile-contact" class="mobile-contact">
                <p><strong>c3controls</strong></p>
                <p>
                    PO Box 496, Beaver, PA 15009, USA<br>
                    TEL&nbsp;&nbsp;724.775.7926<br>FAX&nbsp;&nbsp;724.775.5283<br><a href="mailto:info@c3controls.com">info@c3controls.com</a>
                </p>
                <a href="http://www.c3controls.com/contact/" class="button darkblue">Contact Us<span>»</span></a>
            </div>

            <div id="page" class="hfeed site innerpage">
                <header id="masthead" class="site-header minify-header" role="banner">
                    <div class="wrap">
                        <div class="site-branding">
                            <div class="site-title"><a href="http://www.c3controls.com/" rel="home">c3controls®</a></div>
                        </div>
                        <div class="site-nav">
                            <div class="header-cart hide">
                                <ul>
                                    <li class="acct"><a href="http://www.c3controls.com/my-account/">Log-in/Register</a></li>
                                    <li class="hcart"><a href="http://www.c3controls.com/cart/"><i class="fa fa-shopping-cart"></i> Shopping Cart (<span id="c3_cart_item_count">0</span> items)</a></li>
                                </ul>
                            </div>
                            <form role="search" method="get" class="search-form hide" action="http://www.c3controls.com/">
                                <label>
                                    <span class="screen-reader-text">Search for:</span>
                                    <input type="search" class="search-field" placeholder="Search …" value="" name="s" title="Search for:">
                                </label>
                                <input type="submit" class="search-submit" value="Search">
                            </form>
                            <nav class="top-nav" role="navigation">
                                <ul>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-53"><a href="http://www.c3controls.com/why/">Why</a></li>

                                    <!--WHEN MAKING CHANGES TO THIS, MAKE SURE THE MOBILE NAV IS CHANGED TOO-->
                                    <li id="menu-item-54" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-54">
                                        <a href="#">Products</a>
                                        <ul class="sub-menu">
                                            <li id="menu-item-57" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-57"><a href="#">Motor Control</a></li>
                                            <li id="menu-item-2288" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2288"><a href="#">Disconnect Switches</a></li>
                                            <li id="menu-item-2289" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2289"><a href="#">Pilot Devices</a></li>
                                            <li id="menu-item-2290" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2290"><a href="#">Tower Lights</a></li>
                                            <li id="menu-item-2291" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2291"><a href="#">Cam Switch</a></li>
                                            <li id="menu-item-2292" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2292"><a href="#">Encolsed Control & Stations</a></li>
                                            <li id="menu-item-2293" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2293"><a href="#">Terminal Blocks</a></li>
                                            <li id="menu-item-2295" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2295"><a href="#">Programmable Relays</a></li>
                                            <li id="menu-item-57" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-57"><a href="#">Electronic Timing Relays</a></li>
                                            <li id="menu-item-2288" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2288"><a href="#">General Purpose Relays</a></li>
                                            <li id="menu-item-2289" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2289"><a href="#">Wiring/Cable Duct</a></li>
                                        </ul>
                                    </li>

                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-55">
                                        <a href="http://www.c3controls.com/c3/">c3</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2283"><a href="http://www.c3controls.com/c3/overview/">Our Company</a></li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2280"><a href="http://www.c3controls.com/c3/our-culture/">Our Culture</a></li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2284"><a href="http://www.c3controls.com/c3/management-team/">Management Team</a></li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10710"><a href="http://www.c3controls.com/conflict-minerals-policy/">Conflict Minerals Policy</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2475">
                                        <a href="http://www.c3controls.com/testimonials/">Testimonials</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-57"><a href="http://www.c3controls.com/testimonials/overview/">Our Customers</a></li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2288"><a href="http://www.c3controls.com/testimonials/eriez/">Eriez</a></li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2289"><a href="http://www.c3controls.com/testimonials/aqueous/">Aqueous</a></li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2290"><a href="http://www.c3controls.com/testimonials/esd/">ESD</a></li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2291"><a href="http://www.c3controls.com/testimonials/emc/">EMC</a></li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2292"><a href="http://www.c3controls.com/testimonials/tcsi/">TCSI</a></li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2293"><a href="http://www.c3controls.com/testimonials/teemark/">TeeMark</a></li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2295"><a href="http://www.c3controls.com/testimonials/pacific-kiln/">Pacific Kiln</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-56">
                                        <a href="http://www.c3controls.com/careers/">Careers</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2282"><a href="http://www.c3controls.com/careers/overview/">Join Our Team</a></li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2286"><a href="http://www.c3controls.com/careers/job-postings/">Job Postings</a></li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2287"><a href="http://www.c3controls.com/careers/co-opinternships/">Co-op/Internships</a></li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2436"><a href="http://www.c3controls.com/careers/community/">Community</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-59">
                                        <a href="http://www.c3controls.com/contact/">Customer First</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2461"><a href="http://www.c3controls.com/contact/overview/">Our Promise</a></li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2460"><a href="http://www.c3controls.com/contact/connect-with-us/">Connect With Us</a></li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3292"><a href="http://www.c3controls.com/contact/shipping/">Shipping</a></li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2299"><a href="http://www.c3controls.com/contact/lifetime-warrantyguarantee/">Lifetime Warranty/Guarantee</a></li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2300"><a href="http://www.c3controls.com/contact/terms-conditions/">Terms &amp; Conditions</a></li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3589"><a href="http://www.c3controls.com/contact/privacy-policy/">Privacy Policy</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-10317"><a href="http://info.c3controls.com/blog/">Blog</a></li>
                                </ul>
                            </nav><!-- .top-nav -->
                        </div>

                    </div><!-- .wrap -->
                </header>

                <div id="content" class="site-content">
                    <div id="primary" class="content-area">
                        <main id="main" class="site-main" role="main">
                            <div class="wrap">
                                @RenderBody()
                            </div>
                        </main>
                    </div>
                </div>

                <!-- Footer -->
                <footer id="colophon" class="site-footer" role="contentinfo">
                    <div class="primary-footer">
                        <div class="wrap">
                            <div class="footer-left">
                                <div class="ft-nav main-nav footer">
                                    <ul>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-53"><a href="http://www.c3controls.com/why/">Why</a></li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page current-page-ancestor menu-item-54"><a href="http://www.c3controls.com/products/">Products</a></li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-55">
                                            <a href="http://www.c3controls.com/c3/">c3</a>
                                            <ul class="sub-menu">
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2283"><a href="http://www.c3controls.com/c3/overview/">Our Company</a></li>
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2280"><a href="http://www.c3controls.com/c3/our-culture/">Our Culture</a></li>
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2284"><a href="http://www.c3controls.com/c3/management-team/">Management Team</a></li>
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10710"><a href="http://www.c3controls.com/conflict-minerals-policy/">Conflict Minerals Policy</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2475">
                                            <a href="http://www.c3controls.com/testimonials/">Testimonials</a>
                                            <ul class="sub-menu">
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-57"><a href="http://www.c3controls.com/testimonials/overview/">Our Customers</a></li>
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2288"><a href="http://www.c3controls.com/testimonials/eriez/">Eriez</a></li>
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2289"><a href="http://www.c3controls.com/testimonials/aqueous/">Aqueous</a></li>
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2290"><a href="http://www.c3controls.com/testimonials/esd/">ESD</a></li>
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2291"><a href="http://www.c3controls.com/testimonials/emc/">EMC</a></li>
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2292"><a href="http://www.c3controls.com/testimonials/tcsi/">TCSI</a></li>
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2293"><a href="http://www.c3controls.com/testimonials/teemark/">TeeMark</a></li>
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2295"><a href="http://www.c3controls.com/testimonials/pacific-kiln/">Pacific Kiln</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-56">
                                            <a href="http://www.c3controls.com/careers/">Careers</a>
                                            <ul class="sub-menu">
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2282"><a href="http://www.c3controls.com/careers/overview/">Join Our Team</a></li>
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2286"><a href="http://www.c3controls.com/careers/job-postings/">Job Postings</a></li>
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2287"><a href="http://www.c3controls.com/careers/co-opinternships/">Co-op/Internships</a></li>
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2436"><a href="http://www.c3controls.com/careers/community/">Community</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-59">
                                            <a href="http://www.c3controls.com/contact/">Customer First</a>
                                            <ul class="sub-menu">
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2461"><a href="http://www.c3controls.com/contact/overview/">Our Promise</a></li>
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2460"><a href="http://www.c3controls.com/contact/connect-with-us/">Connect With Us</a></li>
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3292"><a href="http://www.c3controls.com/contact/shipping/">Shipping</a></li>
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2299"><a href="http://www.c3controls.com/contact/lifetime-warrantyguarantee/">Lifetime Warranty/Guarantee</a></li>
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2300"><a href="http://www.c3controls.com/contact/terms-conditions/">Terms &amp; Conditions</a></li>
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3589"><a href="http://www.c3controls.com/contact/privacy-policy/">Privacy Policy</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-10317"><a href="http://info.c3controls.com/blog/">Blog</a></li>
                                        <li><a href="http://info.c3controls.com/request-electrical-controls-catalog">Request a Catalog</a></li>
                                    </ul>
                                </div>
                                <div class="ft-nav footer-products">
                                    <p class="all-products"><a href="http://www.c3controls.com/products/">Products</a></p>
                                    <ul>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-379">
                                            <a href="http://www.c3controls.com/products/motor-control/">Motor Control</a>
                                            <ul class="sub-menu">
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-390"><a href="http://www.c3controls.com/products/motor-control/contactors/">Contactors</a></li>
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-391"><a href="http://www.c3controls.com/products/motor-control/overload-relays/">Overload Relays</a></li>
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-392"><a href="http://www.c3controls.com/products/motor-control/motor-protection-circuit-breakers/">Motor Protection Circuit Breakers</a></li>
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-393"><a href="http://www.c3controls.com/products/motor-control/direct-on-line-dol-starters-open/">Direct-On-Line (DOL) Starters – Open</a></li>
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-394"><a href="http://www.c3controls.com/products/motor-control/enclosed-direct-on-line-dol-starters/">Enclosed Direct-On-Line (DOL) Starters</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-387"><a href="http://www.c3controls.com/products/disconnect-switches/">Disconnect Switches</a></li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-380">
                                            <a href="http://www.c3controls.com/products/pilot-devices/">Pilot Devices</a>
                                            <ul class="sub-menu">
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-395"><a href="http://www.c3controls.com/products/pilot-devices/30mm-industrial/">30mm Industrial</a></li>
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-396"><a href="http://www.c3controls.com/products/pilot-devices/30mm-hazardous-location/">30mm Hazardous Location</a></li>
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-397"><a href="http://www.c3controls.com/products/pilot-devices/22mm-iec/">22mm IEC</a></li>
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3320"><a href="http://www.c3controls.com/products/pilot-devices/compact-control-stations/">Compact Control Stations</a></li>
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-398"><a href="http://www.c3controls.com/products/pilot-devices/22mm-nema/">22mm NEMA</a></li>
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-399"><a href="http://www.c3controls.com/products/pilot-devices/16mm-pilot-lights/">16mm Pilot Lights</a></li>
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-400"><a href="http://www.c3controls.com/products/pilot-devices/13mm-pilot-lights/">13mm Pilot Lights</a></li>
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-401"><a href="http://www.c3controls.com/products/pilot-devices/multi-voltage/">Multi-Voltage</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-328 current_page_item menu-item-384"><a href="http://www.c3controls.com/products/tower-lights/">Tower Lights</a></li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-386"><a href="http://www.c3controls.com/products/cam-switches/">Cam Switches</a></li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-388"><a href="http://www.c3controls.com/products/enclosed-control-control-stations/">Enclosed Control &amp; Control Stations</a></li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-383">
                                            <a href="http://www.c3controls.com/products/terminal-blocks/">Terminal Blocks</a>
                                            <ul class="sub-menu">
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2145"><a href="http://www.c3controls.com/products/terminal-blocks/iec-screw-clamp-connection/">IEC Screw Clamp Connection</a></li>
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2146"><a href="http://www.c3controls.com/products/terminal-blocks/iec-spring-clamp-connection/">IEC Spring Clamp Connection</a></li>
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2147"><a href="http://www.c3controls.com/products/terminal-blocks/nema-screw-clamp-connection/">NEMA Screw Clamp Connection</a></li>
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2148"><a href="http://www.c3controls.com/products/terminal-blocks/iec-markers/">IEC Markers</a></li>
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2149"><a href="http://www.c3controls.com/products/terminal-blocks/plotter-systems/">Plotter Systems</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-381"><a href="http://www.c3controls.com/products/programmable-relays/">Programmable Relays</a></li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-389"><a href="http://www.c3controls.com/products/electronic-timing-relays/">Electronic Timing Relays</a></li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-382"><a href="http://www.c3controls.com/products/general-purpose-relays/">General Purpose Relays</a></li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-385"><a href="http://www.c3controls.com/products/wiringcable-duct/">Wiring/Cable Duct</a></li>
                                    </ul>
                                </div>
                                <div class="ft-nav cart-footer">
                                    <ul>
                                        <li><a href="http://www.c3controls.com/my-account/">My Account</a></li>
                                        <li><a href="http://www.c3controls.com/cart/">Shopping Cart</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="footer-right">
                                <div class="contact-info">
                                    <div class="small">
                                        <p><strong>c3controls</strong></p>
                                        <p>PO Box 496, Beaver, PA 15009, USA</p>
                                        <p>TEL&nbsp;&nbsp;724.775.7926<br>FAX&nbsp;&nbsp;724.775.5283<br><a href="mailto:info@c3controls.com">info@c3controls.com</a></p>
                                        <a href="http://www.c3controls.com/contact/connect-with-us/" class="button darkblue">Contact Us<span>»</span></a>
                                    </div>
                                    <div class="desktop-large">
                                        <p><strong>c3controls</strong></p>
                                        <p>PO Box 496, Beaver, PA 15009, USA</p>
                                        <p>TEL&nbsp;&nbsp;724.775.7926<span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span>FAX&nbsp;&nbsp;724.775.5283<span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span><a href="mailto:info@c3controls.com">info@c3controls.com</a></p>
                                        <a href="http://www.c3controls.com/contact/connect-with-us/" class="button darkblue">Contact Us<span>»</span></a>
                                    </div>
                                </div>
                                <div class="social-media">
                                    <a class="fa-stack fa-lg" target="_blank" href="https://www.facebook.com/c3controls">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                    </a>
                                    <a class="fa-stack fa-lg" target="_blank" href="https://twitter.com/c3controls">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                    </a>
                                    <a class="fa-stack fa-lg" target="_blank" href="https://www.youtube.com/user/c3controls/">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="site-info">
                        <div class="wrap">
                            <div class="copyright">
                                Copyright © 2016 c3controls. All rights reserved.
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script type="text/javascript" src="../../Content/js/app.js"></script>
    <script type="text/javascript" src="../../Content/js/c3Controls.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>