@using C3_Controls.Models
@model C3_Controls.Models.UiDataModel.TowerLight
@{
    var voltages = Model.Voltages;
    var styles = Model.Styles;
    var positions = Model.Positions;
    var soundMoudle = Model.SoundModule;
    ViewBag.Title = "Configure Tower Light";
}

<!-- Header -->
<div class="part-whole-page row">
    <h1 class="part-text part-text-header">Tower Lights Configuration</h1>
    <div class="col-md-9">
        <p class="part-text part-text-body">
            The c3controls Series WTL World Tower Lights offer reliability
            for all your signaling needs. The 50mm (1-31/32”) diameter space
            saving design is stackable to allow up to five (5) modules in a
            single assembly.
        </p>
    </div>
    <div class="col-md-3">
        <img class="part-img" src="~/Content/assets/towerlights.png" />
    </div>
</div>

<!-- Available Items -->
<div class="row">
    <!-- Configuration Parts -->
    <div class="col-md-8" id="parts_container">
        <h2 class="part-section-title">Available Parts</h2>
        <h1 class="part-section-body">Drag a part into your product</h1>

        <br />

        <h4>Already know your SKU? Enter here:</h4>

        <form>
            <input type="text" name="product_sku" />
        </form>
        <!-- Tabs With Left Navigation -->
        <div class="row tabs nomargin-top">

            <!-- Tabs -->
            <div class="col-md-3 col-sm-3 nopadding-right" style="padding-right:0px;padding-left:0px;">
                <ul class="nav nav-tabs nav-stacked">
                    <li class="active">
                        <a href="#tab_a" data-toggle="tab">
                            <i class="fa fa-magic"></i> Styles
                        </a>
                    </li>
                    
                    <div id="tab_a" class="collapse">
                    
                        <div class="row">
                            @foreach (var i in styles)
                            {
                                <div id="col_styles_@i.ToString()" class="col-md-3 metro-column">
                                    <div id="col_styles_@i.ToString()" class="metro" data-sku="@i.Sku" data-price="@i.Price" data-selected="false" draggable="true" ondragstart="dragPart(event)">
                                        <img class="part-tile-img" alt="@i.Name" src="@i.Img" title="@i.Desc" />
                                        <p style="color:white; text-align:center; font-size:10px;"> @i.Name </p>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                    <li>
                        <a href="#tab_b" data-toggle="tab">
                            <i class="fa fa-bolt"></i> Voltages
                        </a>
                    </li>
                    


                    <li>
                        <a href="#tab_c" data-toggle="tab">
                            <i class="fa fa-puzzle-piece"></i> Positions
                        </a>
                    </li>
                    
                    

                </ul>
            </div>

            <!-- Tab Contents -->
            <div class="col-md-9 col-sm-9 nopadding-left" style="padding-right:0px;padding-left:0px;">
                <div class="tab-content">
                    <div id="tab_a" class="tab-pane active">
                        <h4>Styles</h4>
                        <div class="row">
                            @foreach (var i in styles)
                            {
                                <div id="col_style_@i.ToString()" class="col-md-3 metro-column">
                                    <div id="item_style_@i.ToString()" class="metro" data-sku="@i.Sku" data-price="@i.Price" data-selected="false" draggable="true" ondragstart="dragPart(event)">
                                        <img class="part-tile-img" alt="@i.Name" src="@i.Img" title="@i.Name" />
                                        <p style="color:white; text-align:center; font-size:10px;"> @i.Desc </p>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                    <div id="tab_b" class="tab-pane">
                        <h4>Voltages</h4>
                        <div class="row">
                            @foreach (var i in voltages)
                            {
                                <div id="col_voltage_@i.ToString()" class="col-md-3 metro-column">
                                    <div id="item_voltage_@i.ToString()" class="metro" data-sku="@i.Sku" data-price="@i.Price" data-selected="false" draggable="true" ondragstart="dragPart(event)">
                                        <img class="part-tile-img" alt="@i.Name" src="@i.Img" title="@i.Name" />
                                        <p style="color:white; text-align:center; font-size:10px;"> @i.Desc </p>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                    <div id="tab_c" class="tab-pane">
                        <h4>Positions</h4>
                        <div class="row metro-overflow">
                            @foreach (var i in positions)
                            {
                                <div id="col_position_@i.ToString()" class="col-md-3 metro-column">
                                    <div id="item_position_@i.ToString()" class="metro" data-sku="@i.Sku" data-price="@i.Price" data-selected="false" draggable="true" ondragstart="dragPart(event)">
                                        <img class="part-tile-img" alt="@i.Name" src="@i.Img" title="@i.Name" />
                                        <p style="color:white; text-align:center; font-size:10px;"> @i.Desc </p>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Cart Information -->
    <div class="col-md-4" id="cart_info_container" style="margin-bottom:124px;">
        <ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="470">
            <h2 class="part-section-title">Product Info</h2>
       
            <div class="box" id="container_main" ondrop="dropInCart(event)" ondragover="allowDrop(event)">Drag and drop here</div>
        

        
            <table class="table table-bordered">
                <tr>
                    <th bgcolor="#D3D3D3"><strong>Part Type</strong></th>
                    <th bgcolor="#D3D3D3"><strong>Part Pic</strong></th>
                    <th bgcolor="#D3D3D3"><strong>Remove</strong></th>
                </tr>
                <tr>
                    <th>
                        Operator Type
                        <button class="button button-primary btn-default btn-sm part-section-btn" onclick="showOperatorDesc()">Details</button>
                    </th>
                    <td id="container_style"></td>
                    <td><button id="removeOperatorBtn" type="button" onclick="removeOperator()">X</button></td>
                </tr>
                <tr>
                    <th>
                        Voltage
                        <button class="button button-primary btn-default btn-sm part-section-btn" onclick="showVoltageDesc()">Details</button>
                    </th>
                    <td id="container_voltage"></td>
                    <td><button id="removeVoltageBtn" type="button" onclick="removeVoltage()">X</button></td>
                </tr>
                <tr>
                    <th>
                        Lamp Type/Color
                        <button class="button button-primary btn-default btn-sm part-section-btn" onclick="showLampTypeDesc()">Details</button>
                    </th>
                    <td id="container_lamp_color"></td>
                    <td><button id="removeLampBtn" type="button" onclick="removeLamp()">X</button></td>
                </tr>
                <tr>
                    <th>
                        Clamp Ring
                        <button class="button button-primary btn-default btn-sm part-section-btn" onclick="showClampRingDesc()">Details</button>
                    </th>
                    <td id="container_clamp_ring"></td>
                    <td><button id="removeClampBtn" type="button" onclick="removeClamp()">X</button></td>
                </tr>
                <tr>
                    <th>
                        Lens Type
                        <button class="button button-primary btn-default btn-sm part-section-btn" onclick="showLensTypeDesc()">Details</button>
                    </th>
                    <td id="container_lens_type"></td>
                    <td><button id="removeLensTypeBtn" type="button" onclick="removeLensType">X</button></td>
                </tr>
                <tr>
                    <th>
                        Lens Color
                        <button class="button button-primary btn-default btn-sm part-section-btn" onclick="showLensColorDesc()">Details</button>
                    </th>
                    <td id="container_lens_color"></td>
                    <td><button id="removeLensColorBtn" type="button" onclick="removeLensColor()">X</button></td>
                </tr>
                <tr>
                    <th>
                        Options
                        <button class="button button-primary btn-default btn-sm part-section-btn" onclick="showOptionsDesc()">Details</button>
                    </th>
                    <td id="container_option"></td>
                    <td><button id="removeOptionsBtn" type="button" onclick="removeOptions()">X</button></td>
                </tr>
            </table>
            <br /> <br />
    
            <h1 class="part-section-body" id="title_text_sku">Product Sku: </h1>
            <h1 class="part-section-body" id="title_text_price">Price: $0</h1>
            <h1 class="part-section-body" id="title_text_price_discount">Discounted Price: $0</h1>

            <hr />
            <div class="col-md-8">
                <button class="button button-primary btn-default btn-sm part-section-btn" onclick="showSelectedItems()">Details</button>
                <button class="button button-primary btn-sm part-section-btn" onclick="addToCart()">Add to Cart</button>
            </div>
            <div class="col-md-4 text-right">
                <button class="button button-primary btn-danger btn-sm part-section-btn" onclick="window.location.reload()">Clear All</button>
            </div>
        </ul>
    </div>

</div>

<!-- Generic Modal -->
<div id="custom_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div id="dialog_header" class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="modal_title" class="modal-title"></h4>
            </div>

            <div id="dialog_body" class="modal-body">
                <p id="modal_body">
                </p>
            </div>

            <div id="dialog_footer" class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

@section Scripts {
   
    @Scripts.Render("~/Scripts/scripts.js")
    @Scripts.Render("~/Scripts/cart-towerlight.js")
    <script type="text/javascript">
        $(function () {
            setup('@Model.OperatorType.Sku', '@Model.ModuleDiameter.Sku');
        });
    </script>
}