@using C3_Controls.Models
@model TowerLight
@{
    var styles = Model.Styles;
    var voltages = Model.Voltages;
    var positions = Model.Positions;
    ViewBag.Title = "Configure Tower Light";
}

<!-- Header -->
<div class="part-whole-page row">
    <h1 class="part-text part-text-header">Tower Lights Configuration</h1>
    <div class="col-md-9">
        <p class="part-text part-text-body">
            The c3controls Series WTL World Tower Lights offer reliability
            for all your signaling needs. The 50mm (1-31/32”) diameter space
            saving design is stackable to allow up to five (5) modules in a
            single assembly.
        </p>
    </div>
    <div class="col-md-3">
        <img class="part-img" src="~/Content/assets/towerlights.png" />
    </div>
</div>

<!-- Available Items -->
<div class="row">
    <!-- Configuration Parts -->
    <div class="col-md-8" id="parts_container">
        <h2 class="part-section-title">Available Parts</h2>
        <h1 class="part-section-body">Drag a part into your product</h1>

        <!-- Tabs With Left Navigation -->
        <div class="row tabs nomargin-top">

            <!-- Tabs -->
            <div class="col-md-3 col-sm-3 nopadding-right" style="padding-right:0px;padding-left:0px;">
                <ul class="nav nav-tabs nav-stacked">
                    <li class="active">
                        <a href="#tab_a" data-toggle="tab">
                            <i class="fa fa-magic"></i> Styles
                        </a>
                    </li>
                    <li>
                        <a href="#tab_b" data-toggle="tab">
                            <i class="fa fa-bolt"></i> Voltages
                        </a>
                    </li>
                    <li>
                        <a href="#tab_c" data-toggle="tab">
                            <i class="fa fa-puzzle-piece"></i> Positions
                        </a>
                    </li>
                </ul>
            </div>

            <!-- Tab Contents -->
            <div class="col-md-9 col-sm-9 nopadding-left" style="padding-right:0px;padding-left:0px;">
                <div class="tab-content">
                    <div id="tab_a" class="tab-pane active">
                        <h4>Styles</h4>
                        <div class="row">
                            @foreach (var i in styles)
                            {
                                <div id="col_style_@i.ToString()" class="col-md-3 metro-column">
                                    <div id="item_style_@i.ToString()" class="metro" data-sku="@i.Sku" data-price="@i.Price" data-selected="false" draggable="true" ondragstart="dragPart(event)">
                                        <img class="part-tile-img" alt="@i.Name" src="@i.Img" title="@i.Name" />
                                        <p style="color:white; text-align:center; font-size:10px;"> @i.Desc </p>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                    <div id="tab_b" class="tab-pane">
                        <h4>Voltages</h4>
                        <div class="row">
                            @foreach (var i in voltages)
                            {
                                <div id="col_voltage_@i.ToString()" class="col-md-3 metro-column">
                                    <div id="item_voltage_@i.ToString()" class="metro" data-sku="@i.Sku" data-price="@i.Price" data-selected="false" draggable="true" ondragstart="dragPart(event)">
                                        <img class="part-tile-img" alt="@i.Name" src="@i.Img" title="@i.Name" />
                                        <p style="color:white; text-align:center; font-size:10px;"> @i.Desc </p>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                    <div id="tab_c" class="tab-pane">
                        <h4>Positions</h4>
                        <div class="row metro-overflow">
                            @foreach (var i in positions)
                            {
                                <div id="col_position_@i.ToString()" class="col-md-3 metro-column">
                                    <div id="item_position_@i.ToString()" class="metro" data-sku="@i.Sku" data-price="@i.Price" data-selected="false" draggable="true" ondragstart="dragPart(event)">
                                        <img class="part-tile-img" alt="@i.Name" src="@i.Img" title="@i.Name" />
                                        <p style="color:white; text-align:center; font-size:10px;"> @i.Desc </p>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Cart Information -->
    <div class="col-md-4" id="cart_info_container" style="margin-bottom:124px;">
        <h2 class="part-section-title">Product Info</h2>
        <h1 class="part-section-body" id="title_text_sku">Sku: </h1>
        <h1 class="part-section-body" id="title_text_price">Price: $0</h1>
        <hr />
        <div class="col-md-8">
            <button class="button button-primary btn-default btn-sm part-section-btn" onclick="showSelectedItems()">Details</button>
            <button class="button button-primary btn-sm part-section-btn" onclick="addToCart()">Add to Cart</button>
        </div>
        <div class="col-md-4 text-right">
            <button class="button button-primary btn-danger btn-sm part-section-btn" onclick="window.location.reload()">Clear All</button>
        </div>
    </div>
</div>

<!-- Remove Container -->
<div class="row text-center hidden" id="remove_container" style="border:1px dashed red" ondrop="dropInRemoveContainer(event)" ondragover="allowDrop(event)">
    <h4 class="part-section-lead"><i class="fa fa-trash"></i> Drop item here to remove</h4>
</div>

<!-- Product Selection -->
<div class="row">
    <!-- Product Selection Wrapper -->
    <div class="col-md-12" id="container_main" style="margin-top:64px" ondrop="dropInCart(event)" ondragover="allowDrop(event)">
        <h2 class="part-section-title">Selection</h2>
        <h1 class="part-section-body">Drag items anywhere on here</h1>

        <div class="row">
            <!-- Default Selection -->
            <div class="col-md-3">
                <h4>Required Parts</h4>
                <div id="container_required" class="row">
                    <div class="col-md-3 metro-column">
                        <div id="item_required_operator" class="metro-static" draggable="false">
                            <h1>@Model.OperatorType.Name</h1>
                        </div>
                        <div id="item_required_diameter" class="metro-static" draggable="false">
                            <h1>@Model.ModuleDiameter.Name</h1>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Styles Selection -->
            <div class="col-md-3">
                <h4><i class="fa fa-magic"></i> Selected Style</h4>
                <div id="container_style" class="row">
                </div>
            </div>

            <!-- Voltage Selection -->
            <div class="col-md-3">
                <h4><i class="fa fa-bolt"></i> Selected Voltage</h4>
                <div id="container_voltage" class="row">
                </div>
            </div>

            <!-- Positions Selection -->
            <div class="col-md-3">
                <h4><i class="fa fa-puzzle-piece"></i> Selected Position Items</h4>
                <div id="container_position" class="row">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Generic Modal -->
<div id="custom_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div id="dialog_header" class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="modal_title" class="modal-title"></h4>
            </div>

            <div id="dialog_body" class="modal-body">
                <p id="modal_body">
                </p>
            </div>

            <div id="dialog_footer" class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/scripts.js")
    @Scripts.Render("~/Scripts/cart-towerlight.js")
    <script type="text/javascript">
        $(function () {
            setup('@Model.OperatorType.Sku', '@Model.ModuleDiameter.Sku');
        });
    </script>
}