@using C3_Controls.Models
@using MyCouch.Contexts
@model C3_Controls.Models.UiDataModel.PushToTest
@{
    var basics = Model.BasicOperators;
    var voltages = Model.Voltages;
    var lampColors = Model.LampColors;
    var lensColors = Model.LensColors;
    var clampRings = Model.ClampRings;
    var lensTypes = Model.LensTypes;
    var options = Model.Options;
    ViewBag.Title = "Configure Push to Test";
}

<!-- Header -->
<div class="part-whole-page row">
    <h1 class="part-text part-text-header">Push-to-Test Configuration</h1>
    <div class="col-md-9">
        <p class="part-text part-text-body">
            Thank you for your interest in our line of 30mm Industrial
            Pilot Devices - featuring a rugged, all-polyester construction
            and including a wide range of push buttons, pilot lights and
            selector switches. We make it simple and easy for you to identify
            the exact product you need. Choose a product from the directory
            below. If you have any questions, we’re here to help.
        </p>
    </div>
  
   
    <div class="col-md-3">
        <img class="part-img" src="~/Content/assets/img_push_to_test.png" />
    </div>
</div>

<!-- Available Items -->
<div class="row">
<!-- Configuration Parts -->
<div class="col-md-8" id="parts_container">
<h2 class="part-section-title">Available Parts</h2>
<h1 class="part-section-body">Drag a part into your product</h1>

<br/>

<h4>Already know your SKU? Enter here:</h4>

<form id ="enter_sku">
    <input type="text" name="product_sku" size="2" id="operatorSku" maxlength="3" /> <strong>-</strong>
    <input type="text" name="product_sku" size="2" id="voltageSku" maxlength="3" /> <strong>-</strong>
    <input type="text" name="product_sku" size="2" id="lampColorSku" maxlength="3" /> <strong>-</strong>
    <input type="text" name="product_sku" size="2" id="lensColorSku" maxlength="3" /> <strong>-</strong>
    <input type="text" name="product_sku" size="2" id="clampRingSku" maxlength="3" /> <strong>-</strong>
    <input type="text" name="product_sku" size="2" id="lensTypeSku" maxlength="3" /> <strong>-</strong>
    <input type="text" name="product_sku" size="2" id="optionsSku" maxlength="3" /> 
</form>
        
<span></span>
    
<script language="javascript">

    var operatorSku = document.getElementById("operatorSku");

    var voltageSku = document.getElementById("voltageSku");
    document.write(voltageSku.value);
</script>
     
           
       


<!-- Tabs With Left Navigation -->
<div class="row tabs nomargin-top">
    
    
<!--Tab-->
    
<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                    <i class="fa fa-dashboard"></i> Operators</a>
                <button class="button btn-default btn-sm part-section-btn" onclick="showOperatorDesc()">What's this?</button>
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
            <div class="panel-body">
                
                <div id="collapse1">
                    <h4>Basic Operators</h4>
                    <div class="row">
                        @foreach (var i in basics)
                        {
                            <div id="col_basic_@i.Name" class="col-md-3 metro-column">
                                <div id="item_basic_@i.ToString()" class="metro" data-sku="@i.Sku" data-price="@i.Price" data-selected="false" draggable="true" ondragstart="dragPart(event)">
                                    <img class="part-tile-img" alt="@i.Name" src="@i.Img" title="@i.Desc" />
                                    <p style="color:white; text-align:center; font-size:10px;"> @i.Name </p>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                

            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                    <i class="fa fa-bolt"></i> Voltages</a>
                <button class="button btn-default btn-sm part-section-btn" onclick="showVoltageDesc()">What's this?</button>
            </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body">
                
                <div id="tab_b">
                    <h4>Voltages</h4>
                    <div id="slide_voltages" class="row metro-overflow">
                        @foreach (var i in voltages)
                        {
                            <div id="col_voltage_@i.Name" class="col-md-3 metro-column">
                                <div id="item_voltage_@i.ToString()" class="metro" data-sku="@i.Sku" data-price="@i.Price" data-selected="false" draggable="true" ondragstart="dragPart(event)">
                                    <img class="part-tile-img" alt="@i.Name" src="@i.Img" title="@i.Desc" />
                                    <p style="color:white; text-align:center; font-size:10px;"> @i.Name </p>
                                </div>
                            </div>
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                    <i class="fa fa-tint"></i> Lamp Colors</a>
                <button class="button btn-default btn-sm part-section-btn" onclick="showLampTypeDesc()">What's this?</button>
            </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
            <div class="panel-body">
                
                <div id="tab_c">
                    <h4>Lamp Colors</h4>
                    <div id="slide_lamp_colors" class="row metro-overflow">
                        @foreach (var i in lampColors)
                        {
                            <div id="col_lamp_color_@i.ToString()" class="col-md-3 metro-column">
                                <div id="item_lamp_color_@i.ToString()" class="metro" data-sku="@i.Sku" data-price="@i.Price" data-selected="false" draggable="true" ondragstart="dragPart(event)">
                                    <img class="part-tile-img" alt="@i.Name" src="@i.Img" title="@i.Desc" />
                                    <p style="color:white; text-align:center; font-size:10px;"> @i.Name </p>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                

            </div>
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                    <i class="fa fa-tint"></i> Lens Colors </a>
                    <button class="button btn-default btn-sm part-section-btn" onclick="showLensColorDesc()">What's this?</button>
            </h4>
        </div>
        <div id="collapse4" class="panel-collapse collapse">
            <div class="panel-body">

                <div id="tab_d" >
                    <h4>Lens Colors</h4>
                    <div class="row metro-overflow">
                        @foreach (var i in lensColors)
                        {
                            <div id="col_lens_color_@i.ToString()" class="col-md-3 metro-column">
                                <div id="item_lens_color_@i.ToString()" class="metro" data-sku="@i.Sku" data-price="@i.Price" data-selected="false" draggable="true" ondragstart="dragPart(event)">
                                    <img class="part-tile-img" alt="@i.Name" src="@i.Img" title="@i.Desc" />
                                    <p style="color:white; text-align:center; font-size:10px;"> @i.Name </p>
                                </div>
                            </div>
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                    <i class="fa fa-wrench"></i> Clamp Rings</a>
                    <button class="button btn-default btn-sm part-section-btn" onclick="showClampRingDesc()">What's this?</button>
            </h4>
        </div>
        <div id="collapse5" class="panel-collapse collapse">
            <div class="panel-body">
                
                <div id="tab_e">
                    <h4>Clamp Rings</h4>
                    <div class="row">
                        @foreach (var i in clampRings)
                        {
                            <div id="col_clamp_ring_@i.ToString()" class="col-md-3 metro-column">
                                <div id="item_clamp_ring_@i.ToString()" class="metro" data-sku="@i.Sku" data-price="@i.Price" data-selected="false" draggable="true" ondragstart="dragPart(event)">
                                    <img class="part-tile-img" alt="@i.Name" src="@i.Img" title="@i.Desc" />
                                    <p style="color:white; text-align:center; font-size:10px;"> @i.Name </p>
                                </div>
                            </div>
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
                    <i class="fa fa-eye"></i> Lens Types</a>
                    <button class="button btn-default btn-sm part-section-btn" onclick="showLensTypeDesc()">What's this?</button>
                </h4>
        </div>
        <div id="collapse6" class="panel-collapse collapse">
            <div class="panel-body">
                
                <div id="tab_f">
                    <h4>Lens Types</h4>
                    <div id="slide_lens_types" class="row metro-overflow">
                        @foreach (var i in lensTypes)
                        {
                            <div id="col_lens_type_@i.ToString()" class="col-md-3 metro-column">
                                <div id="item_lens_type_@i.ToString()" class="metro" data-sku="@i.Sku" data-price="@i.Price" data-selected="false" draggable="true" ondragstart="dragPart(event)">
                                    <img class="part-tile-img" alt="@i.Name" src="@i.Img" title="@i.Desc" />
                                    <p style="color:white; text-align:center; font-size:9px;"> @i.Name </p>
                                </div>
                            </div>
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>
    
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">
                <i class="fa fa-gear"></i> Options</a>
                <button class="button btn-default btn-sm part-section-btn" onclick="showOptionsDesc()">What's this?</button>
            </h4>
    </div>
    <div id="collapse7" class="panel-collapse collapse">
        <div class="panel-body">
                
            <div id="tab_g">
                <h4>Options</h4>
                <div id="option" class="row">
                    @options
                    {
                    <div id="col_option_@options.ToString()" class="col-md-3 metro-column">
                        <div id="item_option_@options.ToString()" class="metro" data-sku="@options.Sku" data-price="@options.Price" data-selected="false" draggable="true" ondragstart="dragPart(event)">
                            <img class="part-tile-img" alt="@options.Name" src="@options.Img" title="@options.Name" />
                            <p style="color:white; text-align:center; font-size:10px;"> @options.Desc </p>
                        </div>
                    </div>
                    }
                </div>
            </div>

        </div>
    </div>
</div>
    

</div> 


<!-- Tab Contents -->
<div class="col-md-12 col-sm-12 nopadding-left" style="padding-right:0px;padding-left:0px;">
    <div id="tab_a" class="collapse">
        <h4>Basic Operators</h4>
        <div class="row">
            @foreach (var i in basics)
            {
                <div id="col_basic_@i.Name" class="col-md-3 metro-column">
                    <div id="item_basic_@i.ToString()" class="metro" data-sku="@i.Sku" data-price="@i.Price" data-selected="false" draggable="true" ondragstart="dragPart(event)">
                        <img class="part-tile-img" alt="@i.Name" src="@i.Img" title="@i.Name" />
                        <p style="color:white; text-align:center; font-size:10px;"> @i.Desc </p>
                    </div>
                </div>
            }
        </div>
    </div>

    <div id="tab_b" class="collapse">
        <h4>Voltages</h4>
        <div id="slide_voltages" class="row metro-overflow">
            @foreach (var i in voltages)
            {
                <div id="col_voltage_@i.Name" class="col-md-3 metro-column">
                    <div id="item_voltage_@i.ToString()" class="metro" data-sku="@i.Sku" data-price="@i.Price" data-selected="false" draggable="true" ondragstart="dragPart(event)">
                        <img class="part-tile-img" alt="@i.Name" src="@i.Img" title="@i.Name" />
                        <p style="color:white; text-align:center; font-size:10px;"> @i.Desc </p>
                    </div>
                </div>
            }
        </div>
    </div>

    <div id="tab_c" class="collapse">
        <h4>Lamp Colors</h4>
        <div id="slide_lamp_colors" class="row metro-overflow">
            @foreach (var i in lampColors)
            {
                <div id="col_lamp_color_@i.ToString()" class="col-md-3 metro-column">
                    <div id="item_lamp_color_@i.ToString()" class="metro" data-sku="@i.Sku" data-price="@i.Price" data-selected="false" draggable="true" ondragstart="dragPart(event)">
                        <img class="part-tile-img" alt="@i.Name" src="@i.Img" title="@i.Name" />
                        <p style="color:white; text-align:center; font-size:10px;"> @i.Desc </p>
                    </div>
                </div>
            }
        </div>
    </div>

    <div id="tab_d" class="collapse">
        <h4>Lens Colors</h4>
        <div class="row metro-overflow">
            @foreach (var i in lensColors)
            {
                <div id="col_lens_color_@i.ToString()" class="col-md-3 metro-column">
                    <div id="item_lens_color_@i.ToString()" class="metro" data-sku="@i.Sku" data-price="@i.Price" data-selected="false" draggable="true" ondragstart="dragPart(event)">
                        <img class="part-tile-img" alt="@i.Name" src="@i.Img" title="@i.Name" />
                        <p style="color:white; text-align:center; font-size:10px;"> @i.Desc </p>
                    </div>
                </div>
            }
        </div>
    </div>

    <div id="tab_e" class="collapse">
        <h4>Clamp Rings</h4>
        <div class="row">
            @foreach (var i in clampRings)
            {
                <div id="col_clamp_ring_@i.ToString()" class="col-md-3 metro-column">
                    <div id="item_clamp_ring_@i.ToString()" class="metro" data-sku="@i.Sku" data-price="@i.Price" data-selected="false" draggable="true" ondragstart="dragPart(event)">
                        <img class="part-tile-img" alt="@i.Name" src="@i.Img" title="@i.Name" />
                        <p style="color:white; text-align:center; font-size:10px;"> @i.Desc </p>
                    </div>
                </div>
            }
        </div>
    </div>

    <div id="tab_f" class="collapse">
        <h4>Lens Types</h4>
        <div id="slide_lens_types" class="row metro-overflow">
            @foreach (var i in lensTypes)
            {
                <div id="col_lens_type_@i.ToString()" class="col-md-3 metro-column">
                    <div id="item_lens_type_@i.ToString()" class="metro" data-sku="@i.Sku" data-price="@i.Price" data-selected="false" draggable="true" ondragstart="dragPart(event)">
                        <img class="part-tile-img" alt="@i.Name" src="@i.Img" title="@i.Name" />
                        <p style="color:white; text-align:center; font-size:9px;"> @i.Desc </p>
                    </div>
                </div>
            }
        </div>
    </div>

    <div id="tab_g" class="collapse">
        <h4>Options</h4>
        <div id="slide_lens_types" class="row">
            @options
            {
            <div id="col_option_@options.ToString()" class="col-md-3 metro-column">
                <div id="item_option_@options.ToString()" class="metro" data-sku="@options.Sku" data-price="@options.Price" data-selected="false" draggable="true" ondragstart="dragPart(event)">
                    <img class="part-tile-img" alt="@options.Name" src="@options.Img" title="@options.Name" />
                    <p style="color:white; text-align:center; font-size:10px;"> @options.Desc </p>
                </div>
            </div>
            }
        </div>
    </div>

</div>               
</div>   
</div>

    

<!-- Cart Information -->
<div class="col-md-4" id="cart_info_container" style="margin-bottom: 124px;">
    

        <h2 class="part-section-title">Product Info</h2>

        <div class="box" id="container_main" ondrop="dropInCart(event)" ondragover="allowDrop(event)">Drag and drop here</div>

           
   
        <br/>


        <table class="table table-bordered">
            <tr>
                <th bgcolor="#D3D3D3"><strong>Part Type</strong></th>
                <th bgcolor="#D3D3D3"><strong>Part Pic</strong></th>
                <th bgcolor="#D3D3D3"><strong>Remove</strong></th>
            </tr>
            <tr>
                <th>Operator Type
                    <button class="button btn-default btn-sm part-section-btn" onclick="showOperatorDesc()">Details</button>
                </th>
                <td id="container_basic"></td>
                <td><button id="removeOperatorBtn" type="button" onclick="removeOperator(event)">X</button></td>
            </tr>
            <tr>
                <th>Voltage
                    <button class="button button-primary btn-default btn-sm part-section-btn" onclick="showVoltageDesc()">Details</button>
                </th>
                <td id="container_voltage"></td>
                <td><button id="removeVoltageBtn" type="button" onclick="removeVoltage()">X</button></td>
            </tr>
            <tr>
                <th>Lamp Type/Color
                    <button class="button button-primary btn-default btn-sm part-section-btn" onclick="showLampTypeDesc()">Details</button>
                </th>
                <td id="container_lamp_color"></td>
                <td><button id="removeLampBtn" type="button" onclick="removeLamp()" >X</button></td>
            </tr>
            <tr>
                <th>Clamp Ring
                    <button class="button button-primary btn-default btn-sm part-section-btn" onclick="showClampRingDesc()">Details</button>
                </th>
                <td id="container_clamp_ring"></td>
                <td><button id="removeClampBtn" type="button" onclick="removeClamp()">X</button></td>
            </tr>
            <tr>
                <th>Lens Type
                    <button class="button button-primary btn-default btn-sm part-section-btn" onclick="showLensTypeDesc()">Details</button>
                </th>
                <td id="container_lens_type"></td>
                <td><button id="removeLensTypeBtn" type="button" onclick="removeLensType()">X</button></td>
            </tr>
            <tr>
                <th>Lens Color
                    <button class="button button-primary btn-default btn-sm part-section-btn" onclick="showLensColorDesc()">Details</button>
                </th>
                <td id="container_lens_color"></td>
                <td><button id="removeLensColorBtn" type="button" onclick="removeLensColor()">X</button></td>
            </tr>
            <tr>
                <th>Options
                    <button class="button button-primary btn-default btn-sm part-section-btn" onclick="showOptionsDesc()">Details</button>
                </th>
                <td id="container_option"></td>
                <td><button id="removeOptionsBtn" type="button" onclick="removeOptions()">X</button></td>
            </tr>
        </table>

        <br/> <br/>

        <h1 class="part-section-body" id="title_text_sku">Product Sku: </h1>
        <h1 class="part-section-body" id="title_text_price">Price: $0</h1>
        <h1 class="part-section-body" id="title_text_price_discount">Discounted Price: $0</h1>

        <hr/>
        <div class="col-md-8">
            <button class="button button-primary btn-default btn-sm part-section-btn" onclick="showSelectedItems()">Details</button>
            <button class="button button-primary btn-sm part-section-btn" onclick="addToCart()">Add to Cart</button>
        </div>
    <div class="col-md-4 text-right">
        <button class="button button-primary btn-danger btn-sm part-section-btn" onclick="window.location.reload()">Clear All</button>
    </div>
        
    </div>
</div>

<!-- Remove Container -->
<!-- 
<div class="row text-center hidden" id="remove_container" style="border:1px dashed red" ondrop="dropInRemoveContainer(event)" ondragover="allowDrop(event)">
    <h4 class="part-section-lead"><i class="fa fa-trash"></i> Drop item here to remove</h4>
</div> 
-->

<!-- Product Selection -->
<!--
<div class="row">
<!-- Product Selection Wrapper --
<div class="col-md-12" id="container_main" style="margin-top:64px" ondrop="dropInCart(event)" ondragover="allowDrop(event)">
<h2 class="part-section-title">Selection</h2>
<h1 class="part-section-body">Drag items anywhere on here</h1>

<div class="row">
<!-- Default Selection --
<div class="col-md-3">
    <h4>Required Parts</h4>
    <div id="container_required" class="row">
        <div class="col-md-3 metro-column">
            <div id="item_required_operator" class="metro-static" draggable="false">
                <h1>@Model.OperatorType.Name</h1>
            </div>
        </div>
    </div>
</div>

<!-- Basic Operator Selection --
<div class="col-md-3">
    <h4><i class="fa fa-dashboard"></i> Basic Operator</h4>
    <div id="container_basic" class="row"></div>
</div>

<!-- Voltage Selection --
<div class="col-md-3">
    <h4><i class="fa fa-bolt"></i> Selected Voltage</h4>
    <div id="container_voltage" class="row"></div>
</div>

<!-- Lamp Color Selection --
<div class="col-md-3">
    <h4><i class="fa fa-tint"></i> Lamp Color</h4>
    <div id="container_lamp_color" class="row"></div>
</div>
</div>

<div class="row" style="margin-top:64px">
<!-- Lens Color Selection --
<div class="col-md-3">
    <h4><i class="fa fa-tint"></i> Lens Color</h4>
    <div id="container_lens_color" class="row"></div>
</div>

<!-- Clamp Ring Selection --
<div class="col-md-3">
    <h4><i class="fa fa-wrench"></i> Clamp Ring</h4>
    <div id="container_clamp_ring" class="row"></div>
</div>

<!-- Lens Type Selection --
<div class="col-md-3">
    <h4><i class="fa fa-eye"></i> Lens Type</h4>
    <div id="container_lens_type" class="row"></div>
</div>

<!-- Options Selection --
<div class="col-md-3">
    <h4><i class="fa fa-gear"></i> Options</h4>
    <div id="container_option" class="row"></div>
</div>
</div>
</div>
</div>
-->

<!-- Generic Modal -->
<div id="custom_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div id="dialog_header" class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="modal_title" class="modal-title"></h4>
            </div>

            <div id="dialog_body" class="modal-body">
                <p id="modal_body">
                </p>
            </div>

            <div id="dialog_footer" class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/scripts.js")
    @Scripts.Render("~/Scripts/cart-pushtotest.js")
    <script type="text/javascript">
        $(function () {
            setup('@Model.OperatorType.Sku');
        });
    </script>
}